.main {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
}

.balance {
  color: rgba(31, 31, 30, 0.959);
  font-size: 20px;
}
.child {
  color: rgba(112, 112, 108, 0.932);
  font-size: 17px;
  display: flex;
  gap: 22px;
}

.inc {
  color: #27ae60;
}
.enc {
  color: red;
}
